
<mat-sidenav-container>
    <mat-sidenav #choiceList opened position="end" mode="side">
        <mat-list>
            <mat-list-item mat-list-item 
                
                *ngFor="let selectedChoice of selectedChoices">
                <span>{{selectedChoice.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <img class="resourceIcon" *ngFor="let item of countToArray(selectedChoice.resource_energy)" src="../../assets/resourceIcons/energy.png" alt="">
                <img class="resourceIcon" *ngFor="let item of countToArray(selectedChoice.resource_mental)" src="../../assets/resourceIcons/mental.png" alt="">
                <img class="resourceIcon resourceIconFist" *ngFor="let item of countToArray(selectedChoice.resource_physical)" src="../../assets/resourceIcons/physical.png" alt="">
                <img class="resourceIcon" *ngFor="let item of countToArray(selectedChoice.resource_wild)" src="../../assets/resourceIcons/wild.png" alt="">
            </mat-list-item>
        </mat-list>
    </mat-sidenav>
    
<!-- If image is unavailable, this format presents card details instead -->

<!-- <mat-card *ngFor="let choice of presentedChoices; index as i" 
    [ngClass]="{
        'protectionCard': choice.faction_name === 'Protection',
        'leadershipCard': choice.faction_name === 'Leadership',
        'justiceCard': choice.faction_name === 'Justice',
        'aggressionCard': choice.faction_name === 'Aggression',
        'poolCard': choice.faction_name === '\'Pool',
        'basicCard': choice.faction_name === 'Basic'
    }">
    <mat-card-header [ngClass]="{
        'protectionCard': choice.faction_name === 'Protection',
        'leadershipCard': choice.faction_name === 'Leadership',
        'justiceCard': choice.faction_name === 'Justice',
        'aggressionCard': choice.faction_name === 'Aggression',
        'poolCard': choice.faction_name === '\'Pool',
        'basicCard': choice.faction_name === 'Basic'
    }" >
        <mat-card-title><i>{{choice.cost}}&nbsp;&nbsp;</i>{{choice.name}}</mat-card-title>
        <mat-card-subtitle><b>{{choice.subname}}</b></mat-card-subtitle>
        <mat-card-subtitle>{{choice.faction_name}} {{choice.type_name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content [innerHTML]="choice.real_text"></mat-card-content>
    <mat-card-actions>
        <button class="selectChoiceButton" mat-button [color]='"primary"' (click)="selectChoice(choice)">Take this card</button>
        <img class="resourceIcon" *ngFor="let item of countToArray(choice.resource_energy)" src="../../assets/resourceIcons/energy.png" alt="">
        <img class="resourceIcon" *ngFor="let item of countToArray(choice.resource_mental)" src="../../assets/resourceIcons/mental.png" alt="">
        <img class="resourceIcon resourceIconFist" *ngFor="let item of countToArray(choice.resource_physical)" src="../../assets/resourceIcons/physical.png" alt="">
        <img class="resourceIcon" *ngFor="let item of countToArray(choice.resource_wild)" src="../../assets/resourceIcons/wild.png" alt="">
    </mat-card-actions>
</mat-card> -->

<mat-card *ngFor="let choice of presentedChoices; index as i" 
    [ngClass]="{
        'protectionCard': choice.faction_name === 'Protection',
        'leadershipCard': choice.faction_name === 'Leadership',
        'justiceCard': choice.faction_name === 'Justice',
        'aggressionCard': choice.faction_name === 'Aggression',
        'poolCard': choice.faction_name === '\'Pool',
        'basicCard': choice.faction_name === 'Basic'
    }">
    <mat-card-header [ngClass]="{
        'protectionCard': choice.faction_name === 'Protection',
        'leadershipCard': choice.faction_name === 'Leadership',
        'justiceCard': choice.faction_name === 'Justice',
        'aggressionCard': choice.faction_name === 'Aggression',
        'poolCard': choice.faction_name === '\'Pool',
        'basicCard': choice.faction_name === 'Basic'
    }" >
        <mat-card-title>{{choice.name}}</mat-card-title>
        <mat-card-subtitle><b>{{choice.subname}}</b></mat-card-subtitle>
        <mat-card-subtitle>{{choice.faction_name}} {{choice.type_name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="background-size: cover; min-height: 300px;" [style.backgroundImage]="'url(https://marvelcdb.com/' + choice.imagesrc + ')'" alt="choice.real_text"></mat-card-content>
    <mat-card-actions>
        <button class="selectChoiceButton" mat-button [color]='"primary"' (click)="selectChoice(choice)">Take this card</button>
        <img class="resourceIcon" *ngFor="let item of countToArray(choice.resource_energy)" src="../../assets/resourceIcons/energy.png" alt="">
        <img class="resourceIcon" *ngFor="let item of countToArray(choice.resource_mental)" src="../../assets/resourceIcons/mental.png" alt="">
        <img class="resourceIcon resourceIconFist" *ngFor="let item of countToArray(choice.resource_physical)" src="../../assets/resourceIcons/physical.png" alt="">
        <img class="resourceIcon" *ngFor="let item of countToArray(choice.resource_wild)" src="../../assets/resourceIcons/wild.png" alt="">
    </mat-card-actions>
</mat-card>
