mat-card {
    outline: solid black;
    margin: 10px 10px;
    display: inline-block;
    width: 220px;

    word-wrap: break-word;
}

mat-card-content {
    outline: solid 2px grey;
    padding: 10px;
}

.mat-card-header-text {
    margin-left: 0px;
}

.selectedChoices {
    display: inline-block;
}

.selectChoiceButton {
}

.resourceIcon {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 15px;
    padding: 10px 0;
}

.resourceIcon.resourceIconFist {
    width: 20px;
    height: 16px;
}
