/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-mdc-card-header.protectionCard {
    background-color: lightgreen;
}

.mat-mdc-card-header.leadershipCard {
    background-color: lightskyblue;
}

.mat-mdc-card-header.justiceCard {
    background-color: yellow;
}

.mat-mdc-card-header.aggressionCard {
    background-color: lightcoral;
}

.mat-mdc-card-header.basicCard {
    background-color: lightgray;
}

.mat-mdc-card-header.poolCard {
    background-color: hotpink;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
