/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.protectionCard {
    background-color: lightgreen;
}

.leadershipCard {
    background-color: lightskyblue;
}

.justiceCard {
    background-color: yellow;
}

.aggressionCard {
    background-color: lightcoral;
}

.basicCard {
    background-color: lightgray;
}
